#destinos {
    text-align: center;
}

#destinos .contenedor {
    margin-top: 40px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.lugares {
    margin: 5px;
    margin-top: 30px;
}

.lugares img {
    width: 90%;
    max-width: 350px;
    height: auto;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 7px solid rgb(180,10,110);
}

.lugares img:hover {
    filter: saturate(250%);
}

.lugares a {
    text-decoration: none;
    color: black;
}

.lugares h4 {
    position: relative;
    margin-top: -50px;
    border-radius: 00px 20px 20px 0px;
    background: #fff;
}

@media (min-width:600px) {
    .lugares img {
        max-width: 250px;
    }
}

@media (min-width:1024px) {
    .lugares img {
        max-width: 300px;
    }
}