#monumentos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#monumentos img {
    position: relative;
    width: 90%;
    max-width: 800px;
    margin: 5%;
    margin-top: 70px;
    
}

#monumentos h2 {
    font-size: 20px;
    color: #fff;
    position: absolute;
    margin: -12% 5%;
    text-shadow: black 0.1em 0.1em 0.2em;
    border-radius: 00px 20px 20px 0px;
    width: auto;
    background: rgb(180,10,110);
}

#monumentos p {
    text-align: justify;
    width: 90%;
    margin: -3% 5% 5% 5%;
}


@media (max-width: 468px)
{
    #monumentos h2 {
        margin: -16% 5%;
    }
}

@media (min-width:668px){
    #monumentos h2 {
        font-size: 30px;
    }
}

@media (min-width:1024px) {
   #monumentos p {
        width: 80%;
        margin: -3% 10% 5% 10%;
    }
    
    #monumentos img {
        width: 80%;
        margin: 5% 10%;
    }
    
    #monumentos h2 {
        margin: -12% 10%;
    }
    
}